FITSFILE= DATACUBE_UDF-MOSAIC_v042.fits / path of the fits file containing the cube
OUTPUT  = udf_mos_c042_e030_912_o2_Z_0.618915 / where to write the output (default: ./out.fits)
SKYFILE = DATACUBE_UDF-MOSAIC_v042.fits / path of the file containing the sky spectrum or cube
HALPHA  = False                / do we fit Halpha (default: TRUE)
OII     = True                 / do we fit OII doublet (default: FALSE)
COMMW   = True / do we use a common width (default: FALSE)
REDSHIFT= 0.618915 / initial redshift of the galaxy
REDMIN  = 0.613915 / minimum redshift
REDMAX  = 0.623915 / maximum redshift
INITW   = 50.0 / initial linewidth in km/s during the line fitting process 
WMIN    = 30.0 / minimum linewidth in km/s
WMAX    = 250.0 / maximum linewidth in km/s
DFIT    = 100 / bin for fitting the line center in km/s
DGCTNUM = 0 / degre n for the fit of the continuum a0+...+a_n.x^n
SCLIP   = 10 / Sigma-clipping threshold to clean the cube
XYCLIP  = 3 / Width of the box to compute the median for the sigma-clipping
NCLIP   = 3 / Number of pass for clipping (default=3)
WSMOOTH = 0 / spectral smoothing: 1 for Hanning, 2 for gaussian (FWHM=3 pixels), set 0 for no smoothing (default:0)
SSMOOTH = 2 / gaussian spatial smooth FWHM in pixel, set 0 for no smoothing (default:0)
X       = 361.0 / X value for the center of the object (pixel)
Y       = 518.0 / Y value for the center of the object (pixel)
RA      = 53.16801819 / ra value for the center of the object (degree)
DEC     = -27.78966963 / dec value for the center of the object (degree)
XMIN    = 346.0 / X minimum value for spatial cut of the input cube (pixel)
XMAX    = 376.0 / X maximum value for spatial cut of the input cube (pixel)
YMIN    = 503.0 / Y minimum value for spatial cut of the input cube (pixel)
YMAX    = 533.0 / Y maximum value for spatial cut of the input cube (pixel)
ZMIN    = 1003.0 / Z minimum value for spectral cut of the input cube (spectral channel, integer)
ZMAX    = 1052.0 / Z maximum value for spectral cut of the input cube (spectral channel, integer)